.offer-section
    &__wrapper
        display: flex
    
    h2
        line-height: 90%
    &__content
        max-width: 80rem
    &__title
        font-size: clamp(6.5rem, 10vw, 12.5rem)
        margin-bottom: 3rem
        span
            font-size: clamp(5.1rem, 10vw, 9.9rem)

    &__photo
        width: 30%
        height: auto

    &__about-me
        display: flex
        gap: 4rem
        align-items: center
        justify-content: space-between
        margin-bottom: 4rem
        p
            font-size: clamp(1.6rem, 3vw, 2.6rem)
        span
            font-weight: 600

    &__offer
        display: flex
        align-items: center

    &__description
        display: flex
        align-items: center
        justify-content: space-between
        width: 100%
        p
            font-weight: 200

    &__social
        display: flex
        align-items: flex-end
        justify-content: flex-end
        width: 100%
        padding-bottom: .5rem

.social-icon
    a
        border-radius: 50%
