.price-section
    &__header
        display: flex
        justify-content: space-between
        color: $color-marine
        padding-bottom: 2rem
    &__item
        display: flex
        gap: 2rem
        justify-content: space-between
        padding: 6rem 0
    &__header-name-1
        width: 15%
        margin-right: 2rem
    &__header-name-2
        width: 30%
    &__header-name-3
        width: 13%
    &__header-name-4
        width: 20.6rem


    &__item-text-1
        font-weight: 400
        width: 15%
        margin-right: 2rem
        text-align: left
    &__item-text-2
        font-weight: 200
        width: 30%
        text-align: left
        span
            color: $color-gray
    &__item-text-3
        font-weight: 200
        text-align: left
        width: 13%

